# The public (root) directory .htaccess file

Options -MultiViews

DirectoryIndex View/index.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f   
RewriteRule ^(.+)$ View/index.php?url=$1 [QSA,L]